{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div>
        <form method="POST">
            {%csrf_token%}
            <div class="form-group">
                <button class="btn alert" type="submit">
                    Confirm to Delete step
                </button>
            </div>
            <div class="form-group">
                <a class="btn" href="{% url 'step_list' view.kwargs.seed_id %}">Cancel</a>
            </div>
        </form>

{% endblock %}