{% extends "base.html" %}
{% load static %}

{% block head %}
projTree
{% endblock head %}



{% block content %}

<div class="statesPart mt-3 ">
  <div class="d-flex flex-column bg-light rounded border shadow px-4 py-2 bg-white" style="width: fit-content;">
    <div class="h3 border-bottom">Till This Moment</div>
    <div class="h6">{{user_num}} people participated</div>
    <div class="h6">{{seed_num}} seeds archived</div>
    <div class="h6">{{post_num}} posts published</div>
  </div>
</div>


<div class="buttonPart my-5">
  <div class="d-flex justify-content-center ">
    <div class="d-flex flex-column text-center "  style="width: max-content;">
      <div class="navBtn my-2 rounded-pill shadow py-2 my-1">
        <a class="p-1 d-flex h5 text-dark justify-content-center my-auto" href="{% url 'seed_list' %} ">I Want To Plant Something, How?</a>
      </div>
      <!-- <div class="navBtn rounded-pill shadow py-2 my-2 px-3">
        <a class="p-1 d-flex h5 text-dark justify-content-center my-auto" href="{% url 'posts' %} ">I've Some Question About Planting</a>
      </div> -->
      <div class="navBtn my-2 rounded-pill shadow py-2 my-1">
        <a class="p-1 d-flex h5 text-dark justify-content-center my-auto" href="{% url 'about' %}">About This Project</a>
      </div>


    </div>
    

  </div>
</div>

{% endblock content %}

{% block info %}
{% endblock %}