{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block href %} 
<a class="position-absolute start-0" href="{% url 'seed_list' %} "> <img src="{% static 'seed/icons/arrow_back_icon.svg' %}" alt="Last Page"></a>
{% endblock %}

{% block head %}
All Seeds Related to &quot;{{searched}}&quot;
{% endblock %}

{% block content %}
<div class="search ">
    <form class="d-flex shadow-sm rounded p-2" method="POST" action="{% url 'search_seed' %} "> {% csrf_token %}
        <input class="form-control" type="search" placeholder="search seed name or its season" aria-label="Search" name="searched">
        <button class="btn btn-outline-primary ms-2" type="submit">Search</button>
    </form>
</div>
{% if searched %}
{% if seeds.count == 0 %}
<p class="m-3" >"No record on this one yet, you can be the first one!"</p>
{% endif %}


<div class="row g-2 ">
    {% for seed in seeds %}
    <div class=" col-lg-3 col-md-4 col-sm-6 ">
        <a href="{% url 'seed_detail' seed.id %}">
            <div class="seed_card rounded shadow-sm my-2 bg-white seedCard">
                <img src="{{ seed.seedImg.url }}" class="card-img-top img-fluid" alt="...">
                <div class="text-center">
                    <p class=" h5 text-decoration-none">{{ seed.seedName }}</p>
                    <a class="h6" href="{% url 'user_seeds' seed.author %} ">By {{ seed.author }}</a>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

{% else %}
<p>Say something baby, don't left my heart blank ;(</p>

{% endif %}
{% endblock %}



{% block info %}

<div class="search shadow-sm bg-white py-2 px-3 sticky-top container my-2 rounded">
    <a class="mt-4 col-12 p-1 m-1 btn btn-outline-primary d-flex text-center mx-auto" href=" {% url 'seed_create' %} ">
        <img src="{% static 'seed/icons/add_icon.svg' %} " alt="">
        <p class="px-1 mx-1 my-1">Seed</p>
    </a>
</div>

{% endblock %}



