{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block href %}
<a class="position-absolute start-0" href="{% url 'seed_list' %} "> <img src="{% static 'seed/icons/arrow_back_icon.svg' %}"></a>
{% endblock %}

{% block head %}
Archive Seed
{% endblock %}

{% block content %}

    <div>
        <form method="POST" enctype="multipart/form-data"> 
            {%csrf_token%}
            <fieldset class="form-group">
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">
                    Confirm Seed File
                </button>
            </div>
        </form>

        <form class="my-2">
            <small>
                <a class="btn btn-outline-secondary" href="{% url 'seed_list' %}" class="btn">Nope, not today</a>
            </small>
        </form>
    </div>

{% endblock %}