{% extends "base.html" %}
{% load static %}

{% block head %}
Select Your Seed
{% endblock %}



{% block content %}
<div>
    <div class="search ">
        <form class="d-flex shadow-sm rounded p-2" method="POST" action="{% url 'search_seed' %} "> {% csrf_token %}
            <input class="form-control" type="search" placeholder="search seed name or its season" aria-label="Search" name="searched">
            <button class="btn btn-outline-primary ms-2" type="submit">Search</button>
        </form>
    </div>

    <div class="row g-2 ">
        {% for seed in seeds %}
        <div class=" col-lg-3 col-md-4 col-sm-6 ">
            <a href="{% url 'seed_detail' seed.id %}">
                <div class="seed_card rounded shadow-sm my-2 bg-white seedCard">
                    <img src="{{ seed.seedImg.url }}" class="card-img-top img-fluid" alt="...">
                    <div class="text-center">
                        <p class="title h5">{{ seed.seedName }}</p>
                        <a class="author h6" href="{% url 'user_seeds' seed.author %} ">By {{ seed.author }}</a>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>


</div>

{% endblock %}



{% block info %}
<a href="{% url 'seed_create' %} " class="navBtn d-flex rounded-pill col-12 mb-2 shadow-sm py-3 bg-white" >
    <img class="me-1" src="{% static 'seed/icons/add_icon.svg' %}" alt="alt">
    <p class="d-none d-md-block my-auto">Seeds</p>
</a>
{% endblock %}