{% extends "base.html" %}
{% load static %}


{% block head %}
Posts
{% endblock %}


{% block content %}
<div class="search mb-1">
    <form class="d-flex shadow-sm rounded p-2" method="POST" action="{% url 'post_search' %} "> {% csrf_token %}
        <input class="form-control" type="search" placeholder="attribute" aria-label="Search" name="searched">
        <button class="btn btn-outline-primary ms-2" type="submit">Search</button>
    </form>
</div>

<div class="d-flex flex-column">
    {% for post in posts %}
    <div class="rounded border p-2 mb-2 shadow-sm bg-white">
        <a href="{%url 'post_detail' post.id%}">{{ post.title }}</a>
        <p>-{{ post.date_posted }}</p>
        <p class="border-top" >{{post.content|truncatechars:100}} </p>
    </div>

    
    {% endfor %}

</div>
{% endblock %}



{% block info %}



<a class="mt-4 col-12 p-1 m-1 btn btn-outline-primary d-flex text-center mx-auto" href=" {% url 'post_create' %} ">
    <img src="{% static 'seed/icons/add_icon.svg' %} " alt="">
    <p class="px-1 mx-1 my-1">Post</p>
</a>

{% endblock %}