{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block href %}
<a class="" href="{% url 'posts' %} "> <img src="{% static 'post/icons/arrow_back_simple_icon.svg' %}"></a>
{% endblock %}

{% block head %}
Post Form
{% endblock %}

{% block content %}

    <div class="border rounded shadow-sm p-4">
        <form method="POST">
            {%csrf_token%}
            <fieldset class="form-group">
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn-outline-primary" type="submit">
                    Post
                </button>
                
            </div>
        </form>
        <div class="d-flex">
            <p>Not now?</p>
            <a href="{% url 'posts'%}" class="">
                <button class="btn-outline-secondary ms-2">
                  Cancel
                </button>
            </a>
        </div>
        

    </div>

{% endblock %}