{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block href %}
<a class="position-absolute start-0" href="{% url 'posts' %} "> <img
        src="{% static 'seed/icons/arrow_back_icon.svg' %}" alt="Last Page"></a>
{% endblock %}

{% block head %}
Post Form
{% endblock %}

{% block content %}

    <div>
        <form method="POST">
            {%csrf_token%}
            <fieldset class="form-group">
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-primary" type="submit">
                    Post
                </button>
            </div>
        </form>

        <form >
            <small>
                Changed ur mind?
                <a href="{%url 'posts'%}" class="btn btn-outline-secondary">Cancel</a>
            </small>
        </form>
    </div>

{% endblock %}