{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block href %} 
<a class="" href="{% url 'posts' %} "> <img src="{% static 'post/icons/arrow_back_simple_icon.svg' %}"></a>
{% endblock %}

{% block head %}
Post Delete
{% endblock %}

{% block content %}

    <div>
        <form method="POST">
            {%csrf_token%}
            <div class="form-group">
                <button class="btn alert" type="submit">
                    Confirm to Delete
                </button>
            </div>
            <div class="form-group">
                <a class="btn" href="{% url 'post_detail' object.id %}">Cancel</a>
            </div>
        </form>

{% endblock %}